@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



:root{
--white: #ffffff;
--Dark-opacity-30: rgba(0,0,0,0.3);
--Gray-opacity-50: rgba(233,233,233,0.5);
--Blue: #0E143C;
--Blue-light: #179de9;
--Blue-dark: #00507c;
--pink-light: #F1C6D7;
--Red-opacity-50: rgba(255,0,0,0.5);
}
 

body{

    background: transparent linear-gradient(to bottom right, rgba(104, 103, 103, 0.37), rgba(0,0,0,0.3), #0E143C, #179de9) fixed;

    /*OU
    background: transparent linear-gradient(130deg, var(--Blue) 0%, var(--pink-light) 100%);
*/

    font-family: 'Open Sans';
    width: 70%;
    margin: auto;
    padding: 20px 0 20px 0;
    font-size: 16px;
   
    color: white;
}



   
    /* OU
    padding-top: 20px;
    padding-bottom: 20px;
    */
header {
    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.589); /* Applique une bordure en pointillé */

    
}



header nav{
    display: flex; 
    justify-content: space-between;
    
    margin: 0;

   
    /* OU
    padding-top: 20px;
    padding-bottom: 20px;
    */
}



/*Parti HEADER*/
.logo {
    width: 90px;
}



/*Bouton Sign In*/
.Signin{
    padding: 5px 20px;
    border: solid white 1px;
    border-radius: 50px;
    background-color:transparent /* hexadecimal */
    
}



/*Lien*/
header nav ul{

    display: flex;
    flex-direction: row;
    gap: 20px; /* Séparation entre les éléments */
}
  


/*Lien*/
ul {
    list-style: none; /* Enlève les "points" sur le LI */
}
 


/*Boutton*/
a{
    text-decoration: none;
    color: var(--white);
}

/*FIN Parti HEADER*/


/*Parti MAIN*/
 section {
    
    display: flex;
    justify-content: space-between ;
    margin: auto;
  
   
 
    border-bottom: 1px solid rgba(255, 255, 255, 0.589);
    padding: 0 0 200px;
}

.Iphone{
    
    position: relative;
    padding: 80px ;

}

.Présentation{
  width: 320px;
  margin: auto;
}

.devant{

    position: relative;
    top: 40px; left: 60px; 
}

.gauche{
    position: relative;
     left: 120px;
}


main section a{

   
color: white;
border-radius: 5px;
font-size: 1.2rem;   
padding: 5px 10px;
margin-right: 15px;
}


main .bleu{
    
    background-color: rgba(9, 124, 139, 0.527); /* hexadecimal */
    border: none;
 
}
main .rien{
  
    border: solid white 1px;
    background-color:transparent /* hexadecimal */
    
}


/* FIN Parti MAIN*/


/*Parti FOOTER*/
footer{
    
    display: flex;
    justify-content: space-between;
  
    
    color: rgba(255, 255, 255, 0.589); 
    padding: 20px 0 0px;
}


/*Lien du bas*/
footer nav ul {    
  

    display: flex;    
    margin: 0; 
    flex-direction: row;
    gap: 20px; /* Séparation entre les éléments */
}

.logoenbas {
    width: 60px;
}


/* FIN Parti FOOTER*/