@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

 html{
    background: linear-gradient(to bottom right, white, rgba(0,0,0,0.3), #0E143C, #179de9);
    width: 100%;
    height: 100%;
   
 }

body{


 
    font-family: 'Open Sans';
    width: 70%;
    margin: auto;
    padding: 20px 0 20px 0;
    font-size: 16px;
   
    color: white;
}



   
    /* OU
    padding-top: 20px;
    padding-bottom: 20px;
    */


header nav{
    display: flex; 
    justify-content: space-between;
    
    margin: 0;

   
    /* OU
    padding-top: 20px;
    padding-bottom: 20px;
    */
}



/*Parti HEADER*/
.logo {
    width: 120px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.589); /* Applique une bordure en pointillé */
    
}



/*Bouton Sign In*/
.Signin{
    padding: 10px;
    border: solid white 1px;
    border-radius: 50px;
    background-color:transparent /* hexadecimal */
    
}



/*Lien*/
header nav ul{

    display: flex;
    flex-direction: row;
    gap: 20px; /* Séparation entre les éléments */
}
  


/*Lien*/
ul {
    list-style: none; /* Enlève les "points" sur le LI */
}
 


/*Boutton*/
a{
    text-decoration: none;
    color: #f0f0f0e5;
}

/*FIN Parti HEADER*/


/*Parti MAIN*/
 section {
    
    display: flex;
    justify-content: space-between ;
    margin: auto;
  
   
 

}

.Iphone{
    
    position: relative;
    padding: 80px ;

}

.Présentation{
  width: 320px;
  margin: auto;
}

.devant{

    position: relative;
}

main section a{

color: white;
border-radius: 5px;
font-size: 1.2rem;   
padding: 5px;

}
main .bleu{
    
    background-color: rgba(9, 124, 139, 0.527); /* hexadecimal */
    border: none;
 
}
main .rien{
    border: solid white 1px;
    background-color:transparent /* hexadecimal */
    
}


/* FIN Parti MAIN*/


/*Parti FOOTER*/
footer{
    
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.589);
    
    color: rgba(255, 255, 255, 0.589); 
    padding: 25px 0;
}


/*Lien du bas*/
footer nav ul {    
  

    display: flex;    
    margin: 0; 
    flex-direction: row;
    gap: 20px; /* Séparation entre les éléments */
}

.logoenbas {
    width: 60px;
}


/* FIN Parti FOOTER*/